$primary-color: #212121;
$primary-light: #484848;
$primary-dark: #000000;
$secondary-color: #eeeeee;
$secondary-light: #ffffff;
$secondary-dark: #bcbcbc;
$font-light: #ffffff;
$font-dark: #000000;
$box-shadow-light: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: $primary-color;
  color: $font-light;
  margin: 0;
  box-sizing: border-box;

  #primary-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    #header-brand {
      flex: 1 100%;
      text-align: center;

      #brand-logo {
        width: 100px;
        height: 100px;
      }

      #brand-heading,
      #brand-subheading {
        margin: 0;
        padding: 10px;
        text-transform: uppercase;
      }

      #brand-heading {
        color: $font-light;
        font-size: 32px;
      }

      #brand-subheading {
        background: $secondary-color;
        color: $font-dark;
        box-shadow: $box-shadow-light;
        margin: 0 10px;
        font-size: 16px;
      }
    }

    #header-nav {
      flex: 1 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      ul {
        padding: 0;
        margin: 10px 0;

        li {
          padding: 10px;
          margin: 0;
          list-style: none;
          display: inline-block;

          a {
            color: $font-light;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
          }

          &:hover {
            background: $secondary-color;
            cursor: pointer;

            a {
              color: $font-dark;
            }
          }
        }
      }

      #primary-nav {}

      #social-nav {}
    }
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .project {
      background-color: $secondary-color;
      color: $font-dark;
      box-shadow: $box-shadow-light;
      width: -webkit-fill-available;
      margin: 0 5px 5px;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .project-image {
        background: $secondary-dark;
        width: 100%;
      }

      .project-description {
        padding: 10px;
        font-size: 16px;
      }
    }
  }

  #primary-footer {
    p {
      text-align: center;
      font-weight: lighter;
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 500px) {
  body {
    #primary-header {
      #header-brand {
        #brand-heading {
          font-size: 48px;
        }

        #brand-subheading {
          font-size: 24px;
        }
      }

      #header-nav {
        ul > li {
          a {}

          &:hover {
            a {}
          }
        }

        #primary-nav {}

        #social-nav {}
      }
    }

    #projects {
      margin: 0 10px;
      flex-direction: row;
      justify-content: center;

      .project {
        margin: 0 10px 20px;
        flex-basis: 32%;
        flex-grow: 0;

        .project-image {}

        .project-description {}
      }
    }

    #primary-footer {
      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  body {
    #primary-header {
      #header-brand {
        #brand-heading {
          font-size: 48px;
        }

        #brand-subheading {
          font-size: 32px;
        }
      }

      #header-nav {
        ul > li {
          a {}

          &:hover {
            a {}
          }
        }

        #primary-nav {}

        #social-nav {}
      }
    }

    #projects {
      .project {
        .project-image {}

        .project-description {}
      }
    }

    #primary-footer {
      p {}
    }
  }
}
@media screen and (min-width: 1200px) {
  body {
    #primary-header {
      #header-brand {
        #brand-heading {}

        #brand-subheading {}
      }

      #header-nav {
        margin: 0 auto;
        max-width: 1200px;

        ul > li {
          a {}

          &:hover {
            a {}
          }
        }

        #primary-nav {}

        #social-nav {}
      }
    }

    #projects {
      align-content: center;
      max-width: 1200px;
      margin: 0 auto;

      .project {
        .project-image {}

        .project-description {}
      }
    }

    #primary-footer {
      p {}
    }
  }
}
