body {
  box-sizing: border-box;
  background: #212121;
  color: white;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;

  & > header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    #title-container {
      margin: 0 10px;
      text-align: center;
      flex: 1 100%;

      h1 {
        margin: 0;
        font-size: 32px;
        text-transform: uppercase;
        padding: 10px;
      }

      h2 {
        margin: 0;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        background: #eeeeee;
        color: black;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
    }

    #nav-container {
      flex: 1 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      nav {
        margin: 0 15px;

        ul {
          padding: 0;
          margin: 0;
          text-align: center;

          li {
            list-style: none;
            display: inline-block;
            background: #212121;
            font-weight: bold;
            padding: 10px;
            margin: 10px 0;

            a {
              text-decoration: none;
              text-transform: uppercase;
              color: white;
            }
          }

          li:hover {
            background: #eeeeee;
            cursor: pointer;

            a {
              color: black;
            }
          }
        }
      }
    }
  }

  & > main {
    #articles-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0 10px;

      article {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 5px;
        width: -webkit-fill-available;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #eeeeee;
        cursor: pointer;

        header {
          order: 1;
          padding: 5px;

          h3 {
            font-size: 14px;
            color: black;
            margin: 10px;
          }
        }

        .article-image {
          background-color: #bcbcbc;
          order: 0;
          padding-bottom: 56.25%;
        }
      }
    }
  }

  & > footer {
    p {
      text-align: center;
      font-weight: lighter;
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 500px) {
  body {
    & > header {
      #title-container {
        h1 {
          font-size: 40px;
        }

        h2 {
          font-size: 24px;
        }
      }
    }

    & > main {
      #articles-container {
        flex-direction: row;

        article {
          flex: 1 45%;

          header {
            h3 {
              font-size: 22px;
            }
          }
        }
      }
    }

    & > footer {
      p {
        font-size: 16px;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  body {
    & > header {
      #title-container {
        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: 32px;
        }
      }
    }

    & > main {
      #articles-container {
        article {
          flex: 1 30%;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  body {
    & > header {
      #title-container {
        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: 32px;
        }
      }

      #nav-container {
        margin: 0 auto;
        max-width: 1200px;

        nav {
          margin: 0;
        }
      }
    }

    & > main {
      #articles-container {
        align-content: center;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }
}
